services:
  - type: web
    name: takeapaw
    runtime: python3
    plan: free
    region: frankfurt
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn src.run:app
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: takeapaw-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
    autoDeploy: true
    healthCheckPath: /health
